
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
     --h1:40px;
     --h2:32px;
     --h3:28px;
     --h4:24px;
     --h5:20px;
     --h6:16px;
     
     --sub:20px;

     --label:16px;
     --ls:5px;

     --body:14px;

     --font-1:'Crimson Text', serif;
     --font-2:'Work Sans', sans-serif;

     --color-dark-100:rgba(41,33,33,1);
     --color-dark-75:rgba(41,33,33,0.75);
     --color-dark-50:rgba(41,33,33,0.50);
     --color-dark-25:rgba(41,33,33,0.25);

     --color-white-100:rgba(255,255,255,1);
     --color-white-75:rgba(255,255,255,0.75);
     --color-white-50:rgba(255,255,255,0.50);
     --color-white-25:rgba(255,255,255,0.25);

     --color-green-100:rgba(116,198,157,1);
     --color-green-75:rgba(116,198,157,0.75);
     --color-green-50:rgba(116,198,157,0.50);
     --color-green-25:rgba(116,198,157,0.25);

}

/* ? styles rules for default browser  */

*{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}


/* ? styles for button */

.dark-btn,.white-btn{
     color: var(--color-white-100);
     background-color: var(--color-dark-100);
     font: var(--font-2);
     font-size: var(--h5);
     border: none;
     border-radius: 8px;
     cursor:pointer;
     padding: 10px 40px;
}

.white-btn{
     color: var(--color-dark-100);
     background-color: var(--color-white-100);
  
}

/* ? styles rules for text color */

.text-white{
 color: var(--color-white-100);
}

.text-dark{
     color: var(--color-dark-100);
}

.text-green{
     color: var(--color-green-100);
}

/* ? styles rules for LABELS */

.labels{
     font: var(--font-2);
     font-size: var(--label);
     text-transform: uppercase;
     letter-spacing: var(--ls);
     font-weight: 700;
}


/* ? styles rules for hero section */

.hero{
     background-color: var(--color-green-100);
}

/* ? styles rules for  navbar*/


.navbar{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 0;
}

.navbar__logo{
     display: flex;
     align-items: center;
     gap: 20px;
}

.navbar__logo--text{
     font: var(--font-2);
     color: var(--color-white-100);
     font-weight: 500;
     font-size: var(--h2);
}

.navbar__menu{
     font-size: var(--h5);
     font: var(--color-white-100);
     display: flex;
     gap: 15px;
}

.navbar__menu a{
     text-decoration: none;
     color: var(--color-white-100);
}


.container{
     max-width: 1140px;
     margin: auto;
     border: 2px solid ;
}

@media (max-width:1200px){
     .container{
          max-width: 970px;
     }
}
@media (max-width:1024px){
     .container{
          max-width: 740px;
     }
}
@media (max-width:768px){
     .container{
          max-width: 500px;
     }
}
@media (max-width:568px){
     .container{
          max-width: 90%;
     }
}